<div class="row">
    <div class="col-2"></div>
  <div class="col">
    
    <h1>About</h1>
    <p>
      adipiscing elit. Ut lacinia vel magna ut tempus. Morbi tincidunt pretium rhoncus. Donec tincidunt sem nibh, sit amet bibendum libero ultricies et. Fusce rhoncus massa sed viverra accumsan. Donec hendrerit risus quis rhoncus aliquam. Suspendisse pharetra pulvinar efficitur. Sed venenatis ante a massa iaculis, sit amet dictum ipsum dictum. Mauris nulla elit, ullamcorper at urna sed, mattis lobortis erat. 
      Ut et dolor est. Fusce ut tempor ligula. Maecenas magna orci, lobortis eget aliquam nec, fermentum at enim. 
      Sed pretium sem rhoncus felis tincidunt ultricies. Vestibulum id tellus felis. Phasellus eu condimentum eros.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet cursus nisi. Nunc sit amet felis nunc. Maecenas pretium, diam id dapibus dapibus, ex ante semper dolor, sit amet scelerisque massa nunc at justo. Ut a mi ut sem dignissim ullamcorper. Cras non augue blandit, ullamcorper neque nec, vulputate nulla. Nunc pulvinar dui non tincidunt venenatis. Etiam et cursus tellus.</p>

  </div>
  <div class="col-2"></div>
</div>