<main>
  <div class="container-fluid">
   
    <div class="jobpost-section1 row">
      <div class="col col-sm-12 col-md-6 col-lg-4">
          <img class="mr-3 rounded align-self-center img-fluid" 
          style="width:100px;" 
          src="assets/images/chewlogo.png/" alt="Chew Baka">
        <h5>POST A JOB WOOKIE!</h5>
        <p>And get the results right away from the Canadian Job Market</p>
        <p>{{ postId }}</p>
        <app-addjob
        (addEvt)="addJobPost($event)"></app-addjob>
      </div> <!-- column 1 -->

      <div class="col">
          <app-searchjob
              (queryEvt)="searchJob($event)"
              (orderEvt)="orderPost($event)"
              [orderBy]="orderBy"
              [orderType]="orderType"></app-searchjob>
  
          <app-listjob 
          [totalPost]="lastIndex"
          [jobList]="modifiedList"
          (deleteEvt)="deleteJobPost($event)"
          (updateEvt)="updatePost($event)"></app-listjob>
      </div> <!-- column 2 -->
    </div>  
  </div>
</main>    



